/* src/components/GameBoard.css */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 700px;
    margin: 40px auto;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #555;
    transform: scale(1.18);
    color: aqua;
  }
  
  .game-container {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
    padding: 8px;
  }
  
  .timer {
    color: black;
    font-size: 2em;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    transform: skew(-10deg);
    box-shadow: 0 0 10px rgb(133, 7, 243);
  }
  
  .game-over-message {
    font-size: 2em;
    color: red;
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .game-over {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .game-layout {
    position: absolute; /* Imposta il layout del gioco come riferimento per gli elementi assoluti */
    height: 100vh; /* Usa l'altezza completa della viewport */
    /* Altri stili necessari per il layout del gioco */
  }
  
  .sidebar {
    position: absolute; /* Posizionamento assoluto */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Centra verticalmente */
  }
  
  .left {
    left: 0; /* Posiziona il punteggio delle squadre a sinistra */
    /* Aggiungi qui ulteriori stili per il punteggio delle squadre */
  }
  
  .right {
    right: 0; /* Posiziona il timer a destra */
    /* Aggiungi qui ulteriori stili per il timer */
  }